@{
    ViewData["Title"] = "Home Page";
}
<div id="Main">
    <div class="row">
        <div class="col-md-12">
            <a asp-are="" asp-controller="Home" asp-action="Camere" class="btn btn-lg btn-success"> Enter your House </a>
        </div>
    </div>
</div>