@{
    ViewData["Title"] = "Home Page";
}
<div id="Main">
    <div class="row">
        <div class="col-md-12">
            <h1> Welcome to your Room </h1>
            <p> ASDASDASDAS </p>
            <a asp-are="" asp-controller="Home" asp-action="Camere" class="btn btn-lg btn-success"></a>
        </div>
    </div>
</div>